@model IEnumerable<web_TCC.Models.Linhas>

@{
    ViewBag.Title = "Linhas de Ônibus Cadastradas";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@ViewBag.Error
<p class="muted">
    <ul>
        <li><big><span class="label label-default">Instruções</span></big><br /></li>
        <li>
            Caso deseje cadastrar uma nova linha, clique no botão <strong>Novo</strong>
        </li>
        <li>
            Caso deseje alterar uma linha existente, clique no botão <strong>Alterar</strong> 
            referente à linha de ônibus.
        </li>
    </ul>
</p>
<hr />
<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.ID_linha }) 
            @*@Html.ActionLink("Detalhes", "Details", new { id=item.ID_linha }) |*@
            @*@Html.ActionLink("Excluir", "Delete", new { id=item.ID_linha })*@
        </td>
    </tr>
}

</table>
