@model IEnumerable<web_TCC.Models.V_RelRegistroTotal>

@{
    ViewBag.Title = "Relatórios - Total de passageiros por dia";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var myArrayDados = ViewBag.RelTotal;

    var Data = "";
    var DadosDataView = "";
    int i = 0;

    if (ViewBag.RelTotal != null)
    {
        Data = myArrayDados[0].Mes + "/" + myArrayDados[0].Ano;
        foreach (var item in myArrayDados)
        {
            DadosDataView += "[\"" + myArrayDados[i].Data + "\", " + myArrayDados[i].RegistroTotalPessoas + "],";
            i++;
        }
    }
}

@ViewBag.Error

<big>
    <p class="text-info">
        Este relatório informa a quantidade total de passageiros que utilizaram a linha do ônibus em determinada data,
    </p>
</big>

<p class="muted">
    <ul>
        <li><big><span class="label label-default">Instruções</span></big><br /></li>
        <li>
            Informe o período a ser pesquisado, selecione a linha desejada e clique no botão
            <strong>Buscar</strong>.
            <br />
        </li>
        <li>
            Para visualizar o gráfico da pesquisa, clique no botão
            <strong>Gerar Gráfico</strong>.
        </li>
        <li>
            Caso deseje exportar o gráfico para excel, clique no botão <strong>Excel</strong>
        </li>
        <li>
            Caso deseje imprimir o gráfico, clique no botão <strong>Imprimir</strong>
        </li>
        <li>
            Para filtrar os resultados, insira o texto no campo <strong>Filtrar Resultado</strong>
        </li>
    </ul>
</p>
<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <div class="col-md-2 xdisplay_inputx form-group">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    @Html.TextBox("txtGetDataInicio", "", new { @class = "form-control has-feedback-left", placeholder = "Data inicial" })
                </div>
                <div class="col-md-2 xdisplay_inputx form-group">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    @Html.TextBox("txtGetDataFim", "", new { @class = "form-control has-feedback-left", placeholder = "Data final" })
                </div>
                @Html.DropDownList("ID_linha", null, "Linha", new { @class = "dropdown-toggle btn btn-default" })
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <div class="col-md-1 xdisplay_inputx form-group">
                    <input type="submit" value="Filtrar" class="btn btn-primary" />
                </div>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Gerar Gráfico</button>
            </div>
        </div>
    </fieldset>
}

@if (Model != null)
{
    if (Model.Any())
    {
        <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Linha
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Total de passageiros
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinhaNumero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroTotalPessoas)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        //Gráficos
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Gráfico Relatório Total de Passageiros</h4>
                    </div>
                    <div class="modal-body">
                        <div class="" id="container" style="width: 64%; height: 450px"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}


<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/highcharts.js"></script>
@*<script src="~/Scripts/exporting.js"></script>*@

<script type="text/javascript">
    var chart2;
    $(function () {
        chart2 = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Grafico Total Passageiros por dia'
            },
            subtitle: {
                text: 'Mês: @Data'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                },
                title: {
                    text: 'Data'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Passageiros (Data)'
                }
            },
            legend: {
                enabled: true
            },
            tooltip: {
                pointFormat: '<b>{point.y} Passageiros</b>'
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Passageiros',
                data: [
                   @Html.Raw(@DadosDataView)
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    });
</script>
