@model IEnumerable<web_TCC.Models.V_RelRegistroTotal>

@{
    ViewBag.Title = "Relatórios - Total de passageiros por dia";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var myArrayDados = ViewBag.RelTotal;

    var Data = "";
    var DadosDataView = "";
    int i = 0;

    if (ViewBag.RelTotal != null)
    {
        Data = myArrayDados[0].Mes + "/" + myArrayDados[0].Ano;
        foreach (var item in myArrayDados)
        {
<<<<<<< HEAD
            DadosDataView += "[" + myArrayDados[i].Dia + ", " + myArrayDados[i].RegistroTotalPessoas + "],";
=======
            DadosDataView += "[\"" + myArrayDados[i].Data + "\", " + myArrayDados[i].RegistroTotalPessoas + "],";
>>>>>>> 59ac704b9c0be6156cd2358785c8813c4c01ec9c
            i++;
        }
    }
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <div class="col-md-2 xdisplay_inputx form-group">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    @Html.TextBox("txtGetDataInicio", "", new { @class = "form-control has-feedback-left", placeholder = "Data inicial" })
                </div>
                <div class="col-md-2 xdisplay_inputx form-group">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    @Html.TextBox("txtGetDataFim", "", new { @class = "form-control has-feedback-left", placeholder = "Data final" })
                </div>
                @Html.DropDownList("ID_linha", null, "Linha", new { @class = "dropdown-toggle btn btn-default" })
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <div class="col-md-1 xdisplay_inputx form-group">
                    <input type="submit" value="Filtrar" class="btn btn-primary" />
                </div>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Gerar Gráfico dos resultados</button>
            </div>
        </div>
    </fieldset>
}

@if (Model != null)
{
    if (Model.Any())
    {
<<<<<<< HEAD
        <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
=======
        <table class="table">
            <tr>
                <th>
                    Linha
                </th>
                <th>
                    Data
                </th>
                <th>
                    Total de passageiros
                </th>
            </tr>

            <tbody>
                @foreach (var item in Model)
                {
>>>>>>> 59ac704b9c0be6156cd2358785c8813c4c01ec9c
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinhaNumero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistroTotalPessoas)
                        </td>
                    </tr>
<<<<<<< HEAD
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LinhaNumero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegistroTotalPessoas)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    //Gráficos
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Gráfico Geral</h4>
                </div>
                <div class="modal-body">
                    <div class="" id="container" style="width: 64%; height: 450px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>

<script type="text/javascript">
=======
                }
            </tbody>
        </table>
    }
}

        @*Gráficos*@
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Gráfico Relatório Total de Passageiros</h4>
                    </div>
                    <div class="modal-body">
                        <div class="" id="container" style="width: 64%; height: 450px"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/highcharts.js"></script>
        <script src="~/Scripts/exporting.js"></script>

        @*subtitle: {
            text: 'Mês: @Data'
            },*@


        <script type="text/javascript">
>>>>>>> 59ac704b9c0be6156cd2358785c8813c4c01ec9c
    var chart2;
    $(function () {
        chart2 = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Grafico Total Passageiros por dia'
            },
<<<<<<< HEAD
            subtitle: {
                text: 'Mês: @Data'
            },
=======
>>>>>>> 59ac704b9c0be6156cd2358785c8813c4c01ec9c
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                },
                title: {
<<<<<<< HEAD
            text: 'Dia'
=======
            text: 'Data'
>>>>>>> 59ac704b9c0be6156cd2358785c8813c4c01ec9c
                }
            },
            yAxis: {
                min: 0,
                title: {
<<<<<<< HEAD
                    text: 'Passageiros (Dia)'
=======
                    text: 'Passageiros (Data)'
>>>>>>> 59ac704b9c0be6156cd2358785c8813c4c01ec9c
                }
            },
            legend: {
                enabled: true
            },
            tooltip: {
                pointFormat: '<b>{point.y} Passageiros</b>'
            },
            series: [{
                name: 'Passageiros',
                data: [
<<<<<<< HEAD
                   @DadosDataView
=======
                   @Html.Raw(@DadosDataView)
>>>>>>> 59ac704b9c0be6156cd2358785c8813c4c01ec9c
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    });
<<<<<<< HEAD
</script>
=======
        </script>
>>>>>>> 59ac704b9c0be6156cd2358785c8813c4c01ec9c
