@model web_TCC.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Alterar a senha";
}


@ViewBag.Error

<p class="muted">
    <ul>
        <li><big><span class="label label-default">Instruções</span></big><br /></li>
        <li>
            Informe a sua senha atual, insira a nova senha e a confirme. Clique no botão <strong>Alterar Senha</strong> para salvar a alteração.
        </li>
    </ul>
</p>
<hr />

@using (Html.BeginForm("AlterarSenha", "Gerenciar", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Alterar Senha</h4>*@
    @*<hr />*@
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Alterar Senha" class="btn btn-default" />
        </div>
    </div>
}
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@