@using web_TCC.Models
@model RegisterConcatenaLogin

@{
    Layout = null;
}


<link href="/CSS/css" rel="Stylesheet" type="text/css" />.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ProjetoTCC | </title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.css" rel="stylesheet">
</head>


<body class="login">

   
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
               
                <section class="login_content">
                   @using (Html.BeginForm("Login", "Conta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                   {
                    @Html.AntiForgeryToken()
                    
                     <form>
                        <h1>Logar</h1>
                         @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { type="text", @class="form-control", placeholder="Username", required=""})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Senha" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                         
                             <div>
                                 <input type="submit" value="Logar" class="btn btn-default submit" />
                                 <a class="reset_pass" href="~/Conta/EsqueciASenha">Esqueceu sua senha?</a>
                             </div> 
                        
                        
                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Novo no Site ?
                                <a href="#signup" class="to_register">Crie uma Conta</a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Projeto TCC!</h1>
                                <p>©2016 All Rights Reserved.</p>
                            </div>
                        </div>
                    </form>
                   }
                </section>
            </div>
            
            

            <div id="register" class="animate form registration_form">
                
                <section class="login_content">
                @using (Html.BeginForm("Registrar", "Conta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <form>
                        <h1>Criar Conta</h1>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>
                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", placeholder = "Nome Completo" })
                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Senha"})
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirme a Senha" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-10">
                                <input type="submit" class="btn btn-default" value="Registrar" />
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Já Possui uma conta ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Projeto TCC!</h1>
                                <p>©2016 All Rights Reserved. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                }
                </section>
            </div>
        </div>
    </div>

</body>

</html>