@model IEnumerable<web_TCC.Models.Pontos>

@{
    ViewBag.Title = "Pontos de Ônibus Cadastrados";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@ViewBag.Error

<p class="muted">
    <ul>
        <li><big><span class="label label-default">Instruções</span></big><br /></li>
        <li>
            Caso deseje cadastrar um novo ponto de ônibus, clique no botão <strong>Novo</strong>
        </li>
        <li>
            Caso deseje alterar um ponto de ônibus existente, clique no botão <strong>Alterar</strong> referente ao ponto de ônibus.
        </li>
    </ul>
</p>
<hr />

@Html.ActionLink("Novo", "Create", null, new { @class="btn btn-primary" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Código)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Código)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            
            @Html.ActionLink("Alterar", "Edit", new { id = item.ID_ponto })
            @*@Html.ActionLink("Detalhes", "Details", new { id = item.ID_ponto }) |*@
            @*@Html.ActionLink("Excluir", "Delete", new { id = item.ID_ponto })*@
            

        </td>
    </tr>
}

</table>
